<!DOCTYPE html>
<html>
<head>
    <title>Mental Health Diagnosis</title>
</head>
<body>
    <h1>Mentality</h1>
    <form action="/" method="post">
        <label for="symptoms">Gejala yang anda temui:       </label>
        <br>
        <textarea rows="5" cols="100" name="symptoms" id="symptoms"></textarea>
        <br>
        <label for="num_conditions">Jumlah diagnosa yang ingin ditampilkan:</label>
        <input type="number" name="num_conditions" id="num_conditions" value="3">
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
